.Tabelcontainer {
    border-collapse: collapse;
    width: 90%;
   
  }
  
  .Tabelcontainer td, .Tabelcontainer th {
    border: 0px;
    padding: 1.8rem;
    padding-left: 3rem;
    border-bottom: 1px solid rgba(99, 102, 102, 0.267);
  }
 
  
.Tabelcontainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;
}

.table-content {
    margin-left: 70px;
    width: 900px;
}

@media only screen and (max-width:1024px) {
    table,thead,tbody,th,td,tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }

    tr{border:1px solid var(--border);}

    td{
        border:none;
        position:relative;
    }
}


.usertable {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    background: white;
    border-radius: 20px;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);


}




  
  /* style custom checkbox */
  .checkbox-wrapper {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    padding: 20px;
  }
  
  .checkbox-wrapper span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
  }
  
  /* style checked custom checkbox */
  .checkbox-wrapper input[type="checkbox"]:checked + span::before {
    content: '\2714';
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    display: block;
    background-color: #007bff;
   
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + span {
    border: 1px solid #007bff;
    background-color: #007bff;
  }