  .containerForm {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .Formcontainer {
    width: 600px;
    height: auto;
    margin-left: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }


/* Dropdown container style */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown arrow style */
.dropdown-container::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Dropdown select style */
.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 40px 10px 10px;
  width: 300px;
}

/* Hover and focus styles */
.dropdown-select:hover, .dropdown-select:focus {
  border-color: #aaa;
  outline: none;
}

/* Disabled state style */
.dropdown-select:disabled {
  opacity: 0.5;
  pointer-events: none;
}


  .footerLogin {
    background-color: rgb(33, 69, 116);;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }


  @media screen and (max-width: 983px){
    .containerForm {
    width: 60%;
    height: 70%;
    }

    .dropdown-select{
      width: 60%;
    }

    .footer {
      display: none;
    }

    .footerLogin {
      display: none;
    }
  }